@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Manrope:wght@300&display=swap');
:root {
    --main-color: #031731;
    --white-color: #d7d7d7;
    --max-width: 1350px;
    --main-font: 'Manrope', Arial, sans-serif;
    --second-font: 'Crimson Text', Times, serif;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body, html {
    font-family: var(--main-font);
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    letter-spacing: 1px;
    background-color: var(--main-color);
    color: var(--white-color);
    scroll-behavior: smooth;
}

/* Text */
h1, h2, h3, h4 {
    font-weight: 700;
    font-family: var(--second-font);
    margin: 0px 0px .2em;
}
h1 {
    font-size: 3.5em;
    line-height: 1em;
}
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
p {
    margin: 0px 0px 1.5em;
    font-size: 16px;
}
p:last-child {
    margin-bottom: 0px;
}
a {
    display: inline-block;
    text-decoration: none;
    transition: all ease-in .3s;
}
.text-white { color: var(--white-color); }
.text-center { text-align: center; }

/* Background */
.bg-glass {
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(6px);
}

/* Button */
.button {
    font-family: var(--second-font);
    color: var(--white-color);
    border: 1px solid var(--white-color);
    border-radius: 999px;
    padding: 10px 30px;
    text-transform: uppercase;
    backdrop-filter: blur(14px);
}
.button.second {
    background-color: rgba(255,255,255,0.2);
}
.button:hover {
    background-color: var(--white-color);
    color: var(--main-color);
}

/* Block */
div {
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}
img {
    display: block;
    margin: 0px;
}

.center-contents {
    display: grid;
    align-content: center;
    justify-items: center;
}
.container {
    max-width: var(--max-width);
    width: 80%;
    margin: auto;
}

.padded { padding: 120px; }
.padded-y { padding: 120px 0px; }
.padded-x { padding: 0px 120px; }

.flex {
    display: flex;
    align-items: center;
    column-gap: 5%;
}
.flex > div {
    flex: 1 1 0%;
    width: 100%;
}
.flex.initial > div { flex: initial; }
.flex.equal-height {
    align-items: stretch;
}

.hero-container {
    background-color: #021022;
    background-image: url(/images/grid-pattern.png);
    background-size: 350px;
    overflow: hidden;
    height: 100vh;
    min-height: 700px;
    color: var(--white-color);
    padding-top: 40px;
}
.hero-container > .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    z-index: 5;
}
.hero-container > .container > div { flex: 1 1 0%; }
.hero-container .hero-image img { display: none; }
.hero-container .hero-image {
    background-image: url(/images/me.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: calc(100vh - 40px);
}
.hero-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30%;
    z-index: 1;
    background: linear-gradient(180deg, #021022 0%, rgba(0,0,0,0) 100%);
}
.hero-container:after {
    --size: 700px;
    content: '';
    position: absolute;
    z-index: 2;
    bottom: -10%;
    right: 10%;
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(rgb(84 242 247 / 45%), rgb(255 255 255 / 25%));
    animation: rotate 30s alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.hero-bottom-overlap > .container {
    padding: 60px;
    border-radius: 999px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.card {
    border: 1px solid var(--white-color);
    padding: 30px;
    border-radius: 40px;
}
.card > .icon {
    font-size: 3em;
    transform: scale(1.5) translateY(-0.5em);
}
.card > .title {
    margin-bottom: .5em;
}
.card > .description {
    margin-bottom: 0px;
}

.blurb {
    display: flex;
    align-items: center;
}
.blurb > .blurb-content {
    flex: 1;
    width: 100%;
}
.blurb > .blurb-icon { margin-right: 30px; }
.blurb > .blurb-icon > i.fa { font-size: 50px; }

.social-icons {
    list-style-type: none;
    padding: 0px;
    display: flex;
    column-gap: 15px;
}
.social-icons a {
    color: var(--white-color);
    border: 1px solid var(--white-color);
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 10px;
}
.social-icons a:hover {
    background-color: var(--white-color);
    color: var(--main-color);
}

@media (min-width: 769px) {
    .hero-bottom-overlap {
        position: absolute;
        left: 0;
        right: 0;
        top: -50%;
        transform: translateY(-20%);
        z-index: 5;
    }
}

@media (max-width: 768px) {
    .padded { padding: 60px; }
    .padded-y { padding: 60px 0px; }
    .padded-x { padding: 0px 60px; }

    .flex {
        flex-direction: column;
        row-gap: 60px;
    }
    .flex.reverse-on-mobile {
        flex-direction: column-reverse;
    }

    .hero-container > .container {
        flex-direction: column;
        text-align: center;
    }
    .hero-container .hero-image {
        height: auto;
        background: none;
    }
    .hero-container .hero-image img{
        display: block;
        max-height: 500px;
        margin: auto;
    }

    .social-icons {
        justify-content: center;
    }

    .hero-bottom-overlap > .container {
        padding: 30px;
        border-radius: 30px;
    }
    
    .blurb > .blurb-icon > i.fa { font-size: 30px; }
} 